<article>
    <div class="text">
        <H1>Tus Pulsaciones</H1>
        
        <p>Pulsación: Golpe perceptible en algunas partes del cuerpo, como el tórax o la muñeca, que se produce por el movimiento alternativo de contracción y dilatación del corazón y las arterias.</p>
       
        <h4>Recomendaciones al hacer ejercicios</h4>
        <p>El máximo de pulsaciones a las que debe ir el corazón según la edad se calcula restando la edad a 220.<br>
            FC máxima = (220-edad).<br>
            Esta fórmula es un límite teórico en el que no se compromete nuestra salud durante una prueba de
            esfuerzo o actividad física. Para un individuo de 40 años el máximo de pulsaciones durante una actividad física será de 180 pulsaciones por minuto (220-40).</p>
    </div>
    <img src="/src/app/inicio/chica pulso.webp" alt="foto de una chica tomandose el pulso">
</article>