img{
    width: 30%;
    float: right;
    box-shadow:-1px  -1px  black;
    margin:4px;
}
.text{
    float: left;
}
article{
   display: flex;;
   text-align: justify;
}
article div{
    margin-right: 10px;
}