form{
    margin-left: 35%;
    margin-top: 60px;
   }
   form div{
       padding: 4px;
       background-color: rgb(10, 58, 161);
       color: cornsilk;
       width: 40%;
       text-align: center;
   }
   button{
       background-color: rgba(5, 68, 105, 0.616);
       color: aliceblue;
   }